:root {
  --accent-color: #2196f3;
  --blak-color: #000;
  --basic-color: #757575;
  --minor-color: #212121;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0px;
  padding: 0px;
}

address {
  font-style: normal;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Хедер */
.header {
  display: flex;
}

.header > .container {
  display: flex;
  justify-content: space-between;
}

.logo {
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;

  padding-top: 25px;
  padding-bottom: 24px;
}

.logo-sryle {
  color: #000;
}

.menu-list {
  display: flex;
  padding-left: 0px;
  padding-top: 32px;
  padding-bottom: 32px;
}

.menu-item:not(:last-child) {
  margin-right: 50px;
}

.menu-link {
  color: var(--minor-color);
  font-size: 14px;

  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}

.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}

.header-addres {
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-cont:not(:last-child) {
  margin-right: 50px;
}

.header-cont {
  color: var(--basic-color);
  font-size: 14px;

  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}

.header-cont:hover,
.header-cont:focus {
  color: var(--accent-color);
}

.header-svg {
}
/* Герой */
.hero {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/web-studia/hero.png);
  background-color: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  color: #fff;
  text-align: center;
  font-size: 44px;

  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 2.64px;
  text-transform: uppercase;

  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;

  width: 696px;
}

.hero-btn {
  display: flex;
  margin: 0px auto;
  padding: 10px 32px;

  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;

  border: none;
  border-radius: 4px;

  background: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

/* Наші преваги */
.advantages {
  padding-top: 94px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.advantages-list > .item {
  flex-basis: calc((100% - 90px) / 4);
}

.advantages-title {
  margin-bottom: 10px;
  text-transform: uppercase;
}

.advantages-tex {
  color: var(--basic-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}

/* beefore */
.beefore {
  background-repeat: no-repeat;
  background-position: center;
  width: 270px;
  height: 120px;
  flex-shrink: 0;
  border-radius: 4px;
  background-color: #f5f4fa;
  padding: 25px 100px;
  margin-bottom: 30px;
}

.advantages-1 {
  background-image: url(../images/web-studia/antenna.jpg);
}

.advantages-2 {
  background-image: url(../images/web-studia/clock.png);
}

.advantages-3 {
  background-image: url(../images/web-studia/diagram.png);
}

.advantages-4 {
  background-image: url(../images/web-studia/astronaut.png);
}

/* Чим ми займаємося */
.our-work {
  padding-top: 94px;
  padding-bottom: 94px;
}

.our-work-tile {
  color: var(--minor-color);
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;

  margin-bottom: 30px;
}

.our-work-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.our-work-list > .item {
  flex-basis: calc((100% - 60px) / 3);
}

/* Наша команда */
.team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-title {
  color: var(--minor-color);
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;

  margin-bottom: 30px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.team-list > .item {
  flex-basis: calc((100% - 90px) / 4);
  background-color: #fff;
  padding-bottom: 30px;
}

.team-list > .item:hover,
.team-list > .item:focus {
  cursor: pointer;
  border-radius: 0px 0px 4px 4px;

  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.team-name {
  color: var(--minor-color);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;

  margin-bottom: 10px;
  margin-top: 30px;
}

.team-text {
  color: var(--basic-color);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.8px;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 10px;

  margin-top: 16px;
}

.social-svg {
}

/*customers */
.customers {
  padding-top: 94px;
  padding-bottom: 94px;
}

.customers-title {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--minor-color);
  text-align: center;

  margin-bottom: 50px;
}

.customers-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.customers-svg {
}

/* portfolio */
.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-list > .item:not(:first-child) {
  margin-left: 8px;
}

.portfolio-btn {
  color: var(--blak-color);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.48px;

  padding: 6px 22px;

  border: none;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  cursor: pointer;
  border-radius: 4px;
  background-color: #2196f3;
  color: #fff;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.projelt-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.projelt-list > .item {
  flex-basis: calc((100% - 60px) / 3);
}

.projelt-box {
  padding: 20px 24px;
}

.projelt-box:hover,
.projelt-box:focus {
  cursor: pointer;
  border: 1px solid #eee;
  background-color: #fff;
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.projelt-title {
  color: var(--minor-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1.08px;
}

.projelt-tex {
  color: #757575;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.87;
  letter-spacing: 0.48px;
}

/* footer */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer-logo {
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;

  display: block;
  margin-bottom: 20px;
}

.footer-logo-style {
  color: #fff;
}

.footer-list {
  padding-left: 0px;
}

.address {
  color: #fff;

  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;

  display: block;
  margin-bottom: 9px;
}

.footer-cnt {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;

  display: block;
}

.footer-cnt:not(:last-child) {
  margin-bottom: 9px;
  display: block;
}

.footer-title {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
}
