:root {
  --accent-color: #2196f3;
  --blak-color: #000;
  --basic-color: #757575;
  --minor-color: #212121;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0px;
  padding: 0px;
}

address {
  font-style: normal;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Хедер */
.header {
  display: flex;
  border-bottom: 1px solid #ececec;

  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: #fff;

  z-index: 100;
}

.header > .container {
  display: flex;
  justify-content: space-between;
}

.logo {
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;

  padding-top: 25px;
  padding-bottom: 24px;
}

.logo-sryle {
  color: #000;
}

.logo-sryle:hover,
.logo-sryle:focus {
  color: var(--accent-color);
}

.menu-list {
  display: flex;
  padding-left: 0px;
  padding-top: 32px;
  padding-bottom: 32px;
}

.menu-item:not(:last-child) {
  margin-right: 50px;
}

.menu-link {
  color: var(--minor-color);
  font-size: 14px;

  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}

.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}

.header-addres {
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-cont:not(:last-child) {
  margin-right: 50px;
}

.header-cont {
  color: var(--basic-color);
  font-size: 14px;

  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}

.header-cont:hover,
.header-cont:focus {
  color: var(--accent-color);
}

.header-svg {
  margin-right: 10px;
  fill: currentColor;
}
/* Герой */
.hero {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/web-studia/hero.png);
  background-color: #2f303a;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  color: #fff;
  text-align: center;
  font-size: 44px;

  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 2.64px;
  text-transform: uppercase;

  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;

  width: 696px;
}

.hero-btn {
  display: flex;
  margin: 0px auto;
  padding: 10px 32px;

  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;

  border: none;
  border-radius: 4px;

  background: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

/* Наші преваги */
.advantages {
  padding-top: 94px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.advantages-list > .item {
  flex-basis: calc((100% - 90px) / 4);
}

.advantages-title {
  margin-bottom: 10px;
  text-transform: uppercase;
}

.advantages-tex {
  color: var(--basic-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}

/* beefore */
.beefore {
  background-repeat: no-repeat;
  background-position: center;
  width: 270px;
  height: 120px;
  flex-shrink: 0;
  border-radius: 4px;
  background-color: #f5f4fa;
  padding: 25px 100px;
  margin-bottom: 30px;
}

.advantages-1 {
  background-image: url(../images/web-studia/antenna.jpg);
}

.advantages-2 {
  background-image: url(../images/web-studia/clock.png);
}

.advantages-3 {
  background-image: url(../images/web-studia/diagram.png);
}

.advantages-4 {
  background-image: url(../images/web-studia/astronaut.png);
}

/* Чим ми займаємося */
.our-work {
  padding-top: 94px;
  padding-bottom: 94px;
}

.our-work-tile {
  color: var(--minor-color);
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;

  margin-bottom: 30px;
}

.our-work-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.our-work-list > .item {
  position: relative;
  flex-basis: calc((100% - 60px) / 3);
}

.our-work-bg {
  background: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;

  position: absolute;
  bottom: 0px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-title {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

/* Наша команда */
.team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-title {
  color: var(--minor-color);
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;

  margin-bottom: 30px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.team-list > .item {
  flex-basis: calc((100% - 90px) / 4);
  background-color: #fff;
  padding-bottom: 30px;
}

.team-list > .item:hover,
.team-list > .item:focus {
  cursor: pointer;
  border-radius: 0px 0px 4px 4px;

  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.team-name {
  color: var(--minor-color);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;

  margin-bottom: 10px;
  margin-top: 30px;
}

.team-text {
  color: var(--basic-color);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.8px;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 16px;
}

.social-list > .item {
  width: 44px;
  height: 44px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  fill: #afb1b8;
  background-color: #fff;
}

.social-link:hover,
.social-link:focus {
  fill: #fff;
  background-color: var(--accent-color);
}

/*customers */
.customers {
  padding-top: 94px;
  padding-bottom: 94px;
}

.customers-title {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--minor-color);
  text-align: center;

  margin-bottom: 50px;
}

.customers-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.customers-list > .item {
  width: 170px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  padding: 20px 62px;
}

.customers-list > .item:hover,
.customers-list > .item:focus {
  cursor: pointer;
  border-color: var(--accent-color);
}

.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.customers-svg {
  fill: #afb1b8;
}

.customers-svg:hover,
.customers-svg:focus {
  fill: var(--accent-color);
}

/* portfolio */
.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-list > .item:not(:first-child) {
  margin-left: 8px;
}

.portfolio-btn {
  color: var(--blak-color);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.48px;

  padding: 6px 22px;

  border: none;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  cursor: pointer;
  border-radius: 4px;
  background-color: #2196f3;
  color: #fff;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.projelt-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.projelt-list > .item {
  flex-basis: calc((100% - 60px) / 3);
}

.projelt-box {
  padding: 20px 24px;
}

.projelt-box:hover,
.projelt-box:focus {
  cursor: pointer;
  border: 1px solid #eee;
  background-color: #fff;
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.projelt-title {
  color: var(--minor-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1.08px;
}

.projelt-tex {
  color: #757575;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.87;
  letter-spacing: 0.48px;
}

/* footer */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer > .container {
  display: flex;
  justify-content: start;
}

.widget-blok {
  flex-basis: calc(50% - 15px);
}

.footer-logo {
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;

  display: block;
  margin-bottom: 20px;
}

.footer-logo-style {
  color: #fff;
}

.footer-logo-style:hover,
.footer-logo-style:focus {
  color: var(--accent-color);
}

.footer-list {
  padding-left: 0px;
}

.address {
  color: #fff;

  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;

  display: block;
  margin-bottom: 9px;
}

.address:hover,
.address:focus {
  color: var(--accent-color);
}

.footer-cnt {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;

  display: block;
}

.footer-cnt:hover,
.footer-cnt:focus {
  color: var(--accent-color);
}

.footer-cnt:not(:last-child) {
  margin-bottom: 9px;
  display: block;
}

.footer-title {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20px;
}

.social-list-foter {
  display: flex;
  justify-content: start;
  gap: 10px;
}

.social-list-foter > .item {
  width: 44px;
  height: 44px;
}

.social-link-foter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  fill: #fff;
  background-color: rgba(255, 255, 255, 0.1);
}

.social-link-foter:hover,
.social-link-foter:focus {
  background-color: var(--accent-color);
}

.footer-form {
  display: flex;
  gap: 12px;
}

.footer-form-input {
  outline: none;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  width: 358px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: rgba(33, 150, 243, 0);
  padding: 15px 16px;
}

.footer-form-input:focus-within {
  border-color: #64a4d8;
}

.footer-form-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.06em;
  text-align: center;
  color: #fff;

  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #2196f3;
  padding: 10px 28px;

  display: flex;
  gap: 10px;
  align-items: center;

  cursor: pointer;
}

.footer-form-btn:hover,
.footer-form-btn:focus {
  background-color: #64a4d8;
}

/* модільне вікно */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 1;
  z-index: 999;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  max-width: 528px;
  min-height: 581px;
  padding: 40px;
  border-radius: 4px;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
  background-color: #fff;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--minor-color);

  margin-bottom: 12px;
}

.modal-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  cursor: pointer;
  right: 8px;
  top: 8px;
  padding: 5px;

  border-radius: 50%;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.modal-btn:hover,
.modal-btn:focus {
  border-color: var(--accent-color);
}

.modal-icon-close:hover,
.modal-icon-close:focus {
  fill: var(--accent-color);
}

.modal-form {
  display: flex;
  flex-direction: column;
  gap: 30px;

  margin-bottom: 20px;
}

/* .form-fiel {
} */

.form-label {
  display: flex;
  margin-bottom: 4px;
  color: var(--basic-color);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}

.modal-position {
  position: relative;
}

.modal-icon {
  width: 18px;
  height: 18px;
}

.modal-position:focus-within .modal-icon {
  fill: var(--accent-color);
}

.form-input {
  width: 100%;
  height: 40px;
  padding-left: 43px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}

.form-input:focus-within {
  border-color: var(--accent-color);
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}

.feedback {
  width: 100%;
  height: 120px;
  resize: none;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
}

.feedback:focus-within {
  border: 1px solid var(--accent-color);
}

.feedback::placeholder {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox-box {
  display: flex;
  align-items: center;
}

.form-checkbox {
  width: 15px;
  height: 15px;
  cursor: pointer;
  margin-right: 7px;
}

.form-tex {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: var(--basic-color);
}

.form-link {
  color: var(--accent-color);
}

.modal-submit {
  border-radius: 4px;
  padding: 10px 57px;
  font-weight: 700;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.06em;
  text-align: center;
  color: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #2196f3;
  border: none;

  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.modal-submit:hover,
.modal-submit:focus {
  background-color: #7dbdf2;
}
